.DS_Store
node_modules
npm-debug.log

build/*.app
build/*.app.zip
build/lifesized-cli/Build/Intermediates
build/lifesized-cli/Logs
build/lifesized-cli/info.plist
build/ModuleCache


README.md
TODOS.md
demos
*.md
lifesized-cli/*
lifesized-cli.xcodeproj
